<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>nextteam.filters.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>nextteam.listeners.ServerContextListener</listener-class>
    </listener>
    <!--    <filter>
        <filter-name>CORS</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
    </filter>-->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>nextteam.controllers.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>nextteam.controllers.UserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAvatarImg</servlet-name>
        <servlet-class>nextteam.controllers.UserAvatarImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPasswordServlet</servlet-name>
        <servlet-class>nextteam.controllers.UserPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MajorInfoServlet</servlet-name>
        <servlet-class>nextteam.controllers.MajorInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClubServlet</servlet-name>
        <servlet-class>nextteam.controllers.ClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>nextteam.controllers.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>nextteam.controllers.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>nextteam.controllers.DepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>nextteam.controllers.vnpay.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>nextteam.controllers.vnpay.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>nextteam.controllers.vnpay.vnpayRefund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EngagementServlet</servlet-name>
        <servlet-class>nextteam.controllers.EngagementServlet</servlet-class>
        <multipart-config>
            <max-file-size>1048576</max-file-size>
            <!-- Đặt kích thước tối đa cho file -->
            <max-request-size>2097152</max-request-size>
            <!-- Đặt kích thước tối đa cho yêu cầu -->
            <file-size-threshold>0</file-size-threshold>
            <!-- Đặt ngưỡng kích thước để lưu trữ tạm thời trên đĩa -->
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>ProposalServlet</servlet-name>
        <servlet-class>nextteam.controllers.ProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProposalFiileServlet</servlet-name>
        <servlet-class>nextteam.controllers.ProposalFiileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClubUserServlet</servlet-name>
        <servlet-class>nextteam.controllers.ClubUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanServlet</servlet-name>
        <servlet-class>nextteam.controllers.PlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanFileServlet</servlet-name>
        <servlet-class>nextteam.controllers.PlanFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/api/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClubServlet</servlet-name>
        <url-pattern>/api/club</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAvatarImg</servlet-name>
        <url-pattern>/api/userAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPasswordServlet</servlet-name>
        <url-pattern>/api/userAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MajorInfoServlet</servlet-name>
        <url-pattern>/api/allMajors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/api/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/department</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EngagementServlet</servlet-name>
        <url-pattern>/engagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProposalServlet</servlet-name>
        <url-pattern>/api/proposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProposalFiileServlet</servlet-name>
        <url-pattern>/api/proposal_files</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClubUserServlet</servlet-name>
        <url-pattern>/club-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanServlet</servlet-name>
        <url-pattern>/api/plans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanFileServlet</servlet-name>
        <url-pattern>/api/plan_files</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
